@charset "UTF-8";

body {
  background: white;
  font-family: 'Overpass', sans-serif;
  width: 100%;
  /*height: 100%
  margin: 0;
  padding: 0;*/
}

 .header {
   height: 70px;
   padding-top: 25px;
   left: 0;
   right: 0;
   background-color: black;
   text-align: left;
 }

 #logo {
   padding-top: 0px;
   height:70px;
   width: auto;
 }

.row-icons{
}

img{
  background: url('../images/about/crostage.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  }


.footer{
display: block;
background-color: black;
text-align: center;
}
