@charset "UTF-8";

body {
  background: white;
  font-family: 'Overpass', sans-serif;
  width: 100%;
  /*height: 100%
  margin: 0;
  padding: 0;*/
}

/*.box {
    display: flex;
    justify-content: flex-start;
 }*/


 .header {
   height: 50px;
   text-align: left;
   padding: 0 10px;
   /*top: 0; */
   left: 0;
   right: 0;
   background-color: black;
 }

 #logo {
   height: 45px;
 }

.row-icons{

}

 .container{
   position: relative;
   margin: auto;
   padding: 0 20px;
   justify-content: flex-end;
 }

 /* Large */
.navigation {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}


  .mobile-menu-icon {
    width: 18px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 15px 10px;
    z-index: 10;
  }

  .mobile-menu-icon > div {
    width: 50%;
    height: 1px;
    background: #fff;
  }

  .mobile-menu-icon: hover {
    cursor: pointer;
    background-color: rgba(33, 33, 33, 0.75);
  }

img{
  background: url('../images/about/crostage.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 30%;
  height: auto;
  }

nav{
  font-family: Overpass;
  font-size: 24px;
  width: 100%;
  height: auto;
  display: none;
  position: relative;
  z-index: 10;
  background-color: black;
}



/*footer{
  background-color: black;
    width: 100%;
    padding: 25px;
    margin: 25px;
    border-radius: 15px;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}
*/

.footer{
display: block;
background-color: black;
}



}
#MenuIcon{
  position: top;
  padding-left: 100px;
}
