@charset "UTF-8";

body {
  background: white;
  font-family: 'Overpass', sans-serif;
  width: 100%;
  /*height: 100%
  margin: 0;
  padding: 0;*/
}

 .header {
   height: 70px;
   padding-top: 25px;
   left: 0;
   right: 0;
   background-color: black;
   text-align: left;
 }

 #logo {
   padding-top: 0px;
   height:70px;
   width: auto;
 }

 /* unvisited link */
 a:link {
     color: red;
 }

 /* mouse over link */
 a:hover {
     color: #5BBABC;
 }

 /* selected link */
 a:active {
     color: hotpink;
 }
 /* how to chance the active page to pink color? */
/* how to make footer links PINK on hover? curently turn turquoise and disappear in footer */
/* how to center footer content? */
img{
  background: url('../images/about/crostage.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  }

.footer{
display: block;
background-color: #5BBABC;
text-align: center;
padding: 80px;
margin-left: auto;
margin-right: auto
}

#video {
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}

.fa{
  color:black;
  font-size: 50px;
  padding: 20px;
}

h1 {
  64px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
h2{
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
}

.text-block{
  padding-top: 12px;
  padding-bottom: 12px;
}

/* video position - needs to go under header but abover footer */
video{
  position: relative;
}

.legal{
  font-size:12px;
  padding: 25px;
  color:black;
}

.album-thumbnail{
  height: 250px;
  width:auto;
}
